<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedData Hackathon Project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-5">
      <h1>Inputs:</h1>
      <form action="/submit" method="post" name="MLmodelinput" class="mt-5">
        <div class="row my-3">
          <div class="col">
            <label for="age" class="form-label">Age: </label>
            <input
              type="number"
              id="age"
              name="age"
              class="form-control"
              required
            />
          </div>
          <div class="col d-flex flex-column">
            <label for="sex" class="form-label">Sex: </label>
            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="sex"
                id="male"
                autocomplete="off"
                value="1"
                checked
              />
              <label class="btn btn-outline-primary" for="male">Male</label>

              <input
                type="radio"
                class="btn-check"
                name="sex"
                id="female"
                value="0"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="female">Female</label>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col d-flex flex-column">
            <label for="cp" class="form-label">CP: </label>
            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="cp"
                id="cp-1"
                autocomplete="off"
                value="1"
                checked
              />
              <label class="btn btn-outline-primary" for="cp-1">1</label>

              <input
                type="radio"
                class="btn-check"
                name="cp"
                id="cp-2"
                value="2"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="cp-2">2</label>
              <input
                type="radio"
                class="btn-check"
                name="cp"
                id="3"
                value="3"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="3">3</label>
              <input
                type="radio"
                class="btn-check"
                name="cp"
                id="4"
                value="4"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="4">4</label>
            </div>
          </div>
          <div class="col">
            <label for="trestbps" class="form-label">Trestbps: </label>
            <input
              type="number"
              id="trestbps"
              name="trestbps"
              class="form-control"
              min="0"
              required
            />
          </div>
        </div>

        <div class="row my-3">
          <div class="col">
            <label for="chol" class="form-label">Chol: </label>
            <input
              type="number"
              id="chol"
              name="chol"
              class="form-control"
              required
            />
          </div>
          <div class="col d-flex flex-column">
            <label for="fbs" class="form-label">FBS: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="fbs"
                id="fbs-0"
                autocomplete="off"
                value="0"
                checked
              />
              <label class="btn btn-outline-primary" for="fbs-0">0</label>

              <input
                type="radio"
                class="btn-check"
                name="fbs"
                id="fbs-1"
                value="1"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="fbs-1">1</label>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col d-flex flex-column">
            <label for="restecg" class="form-label">Restecg: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="restecg"
                id="restecg-0"
                autocomplete="off"
                value="0"
                checked
              />
              <label class="btn btn-outline-primary" for="restecg-0">0</label>

              <input
                type="radio"
                class="btn-check"
                name="restecg"
                id="restecg-1"
                value="1"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="restecg-1">1</label>
              <input
                type="radio"
                class="btn-check"
                name="restecg"
                id="restecg-2"
                value="2"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="restecg-2">2</label>
            </div>
          </div>
          <div class="col">
            <label for="thalach" class="form-label">Thalach: </label>
            <input
              type="number"
              id="thalach"
              name="thalach"
              class="form-control"
              min="0"
              required
            />
          </div>
        </div>

        <div class="row my-3">
          <div class="col d-flex flex-column">
            <label for="exang " class="form-label">Exang: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="exang"
                id="exang-0"
                autocomplete="off"
                value="0"
                checked
              />
              <label class="btn btn-outline-primary" for="exang-0">0</label>

              <input
                type="radio"
                class="btn-check"
                name="exang"
                id="exang-1"
                value="1"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="exang-1">1</label>
            </div>
          </div>
          <div class="col">
            <label for="oldpeak" class="form-label">Oldpeak: </label>
            <input
              type="number"
              step="0.1"
              id="oldpeak"
              name="oldpeak"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row my-3">
          <div class="col d-flex flex-column">
            <label for="slope" class="form-label">Slope: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="slope"
                id="slope-1"
                autocomplete="off"
                value="1"
                checked
              />
              <label class="btn btn-outline-primary" for="slope-1">1</label>

              <input
                type="radio"
                class="btn-check"
                name="slope"
                id="slope-2"
                value="2"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="slope-2">2</label>
              <input
                type="radio"
                class="btn-check"
                name="slope"
                id="slope-3"
                value="3"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="slope-3">3</label>
            </div>
          </div>
          <div class="col d-flex flex-column">
            <label for="ca" class="form-label">CA: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="ca"
                id="ca-0"
                autocomplete="off"
                value="0.0"
                checked
              />
              <label class="btn btn-outline-primary" for="ca-0">0</label>
              <input
                type="radio"
                class="btn-check"
                name="ca"
                id="ca-1"
                autocomplete="off"
                value="1.0"
              />
              <label class="btn btn-outline-primary" for="ca-1">1</label>

              <input
                type="radio"
                class="btn-check"
                name="ca"
                id="ca-2"
                value="2.0"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="ca-2">2</label>
              <input
                type="radio"
                class="btn-check"
                name="ca"
                id="ca-3"
                value="3"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="ca-3">3</label>
            </div>
          </div>
          <div class="col d-flex flex-column">
            <label for="thal" class="form-label">Thal: </label>

            <div class="btn-group" role="group" aria-label="Selection options">
              <input
                type="radio"
                class="btn-check"
                name="thal"
                id="thal-3"
                autocomplete="off"
                value="3.0"
                checked
              />
              <label class="btn btn-outline-primary" for="thal-3">3</label>
              <input
                type="radio"
                class="btn-check"
                name="thal"
                id="thal-6"
                autocomplete="off"
                value="6.0"
              />
              <label class="btn btn-outline-primary" for="thal-6">6</label>

              <input
                type="radio"
                class="btn-check"
                name="thal"
                id="thal-7"
                value="7.0"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="thal-7">7</label>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-4 text-center">
            <button type="submit" class="btn btn-primary w-100">Submit!</button>
          </div>
        </div>
      </form>
      <br />
      <div class="text-center">
        <p id="num" class="mx-auto mt-5 h1">Num: <span> {{ answer }} </span></p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
